h1,
h2,
h3,
h4,
h5,
h6 {
	color: #f5f5f5
}

body,
p {
	color: #d5d5d5
}

p {
	color: #d5d5d5;
}

.form-control,
.form-control:focus,
.has-error .form-control,
.has-error .form-control:focus,
input[type=search],
input[type=password],
input[type=text] {
	border: 2px solid #555;
	color: #eee;
}

.btn-primary,
.btn-secondary,
button,
input[type=button],
input[type=submit],
.wp-block-button .wp-block-button__link {
	color: #fff;
	background-color: #333;
	box-shadow: 0 10px 10px -8px rgba(0, 0, 0, .78)
}

.btn-secondary {
	color: #fff;
	background-color: #333;
	box-shadow: 0 10px 10px -8px rgba(0, 0, 0, .78)
}


.preloader,
.preloader-portfolio {
	background-color: #222
}

.page-container {
	background-color: #222;
}


.logo-text {
	color: #fff;
}


.site-main-menu li a {
	color: #f5f5f5;
}

@media only screen and (min-width:992px) {
	.site-main-menu .sub-menu {
		background-color: #333;
	}

}

.page-title {
	background-color: #252525;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}



.block-title h2:before,
h3.comment-reply-title:before {
	background-color: #353535;
}

.lmpixels-scroll-to-top {
	background-color: #333;
	border: 1px solid #222;
	color: #aaa;
}

.home-photo {
	background-color: #444;
	border: 18px solid #444;
	-webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .8);
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, .8)
}

.timeline-item:before {
	background-color: #333;
}

.timeline-item:after {
	background-color: #333;
}

.timeline-item h5.item-period {
	color: #d5d5d5;
	background-color: #222;
}

.timeline-item .item-company {
	color: #aaa;
}

.certificate-item {
	border: 2px solid #444;
}

.certi-logo {
	background-color: #444;
}

.skills-first-style .skill-container {
	border: 2px solid #444;
}

.skills-first-style .skill-percentage {
	border: 2px solid #222;
}

.testimonial-content {
	background-color: #282828;
	border: 2px solid #444;
}

.testimonial-picture img {
	border-color: #444;
}



.testimonial-author {
	color: #e5e5e5
}



.testimonial-icon {
	color: #454545;
}

.testimonial-icon-big {
	color: #353535;
}

.clients.owl-carousel .owl-dot span,
.testimonials.owl-carousel .owl-dot span {
	background-color: #454545;
}

.lm-info-block {
	background-color: #333;
	border: 2px solid #444;
}

.portfolio-filters li a,
.portfolio-filters li a:hover,
.portfolio-filters li a:not([href]) {
	color: #f5f5f5;
}

.portfolio-grid figure i {
	background-color: #222;
}


.portfolio-grid figure .name {
	background-color: #222;
	color: #f5f5f5;
}

.portfolio-grid figure .category {
	background-color: #222;
	color: #f5f5f5;
}

.blog-card .category a {
	background: #222;
	color: #f5f5f5;
}

.blog-card .post-date {
	color: #aaa;
}

.page-portfolio-loaded {
	background-color: #222;
}

.ajax-page-nav>div.nav-item a {
	color: #aaa;
	background-color: #333;
}

.project-description {
	background-color: #333;
	border: 2px solid #444;
}

.tags a {
	color: #fff;
	background-color: #666;
	border: 1px solid transparent;
}


.fw-pricing .fw-package {
	background-color: #333;
	border: 2px solid #444;
}

.fw-pricing .fw-package-wrap.highlight-col .fw-package {
	border-color: #666;
	-webkit-box-shadow: 0 0 12px rgba(255, 255, 255, .12);
	-moz-box-shadow: 0 0 12px rgba(255, 255, 255, .12);
	-o-box-shadow: 0 0 12px rgba(255, 255, 255, .12);
	box-shadow: 0 0 12px rgba(255, 255, 255, .12)
}

.fw-pricing .fw-package:hover,
.fw-pricing .fw-package-wrap.highlight-col .fw-package:hover {
	-webkit-transform: translateY(-9px);
	-ms-transform: translateY(-9px);
	-o-transform: translateY(-9px);
	transform: translateY(-9px);
}

.fw-pricing .fw-pricing-row span {
	color: #f5f5f5;
}

.site-content .entry-meta.entry-meta-bottom {
	background-color: #333;
	border: 2px solid #444;
}

blockquote {
	border-left: 2px solid #666;
}



.site-footer {
	background-color: #252525;
	border-top: 2px solid #333;
}



.site-footer .footer-social-links li a {
	color: #ddd;
}


.footer-copyrights p {
	color: #ddd;
}



	.header-content {
		background-color: #222;
	}

.site-nav {
		background-color: #222;
	}

.home-content.third-style .start-page-full-width .hp-text-block {
	background-color: #333;
}

